:root{
	--white-01:	#E9E9E9;
	--white-02: #F5F5F5;
	--grey-01: 	#DDD;
	--grey-02:	#C4C4CC;
	--grey-03: 	#121214;
	--grey-04: 	#787878;
	--grey-05: 	#444444;
	--orange-02:#d4a017;
	--orange-03:#e6be589f;
	--red-01: 	#980000;
	--red-02: 	#d30f0f;
    --red-03:   #B22222;
	
}

.container-main article a{
    color: var(--red-01);
}

.container-panGenome{
	padding: 1rem 1.5rem;

	opacity: 0;
	transform: translate(0, -1rem);

	animation: showElementAnimation .3s ease-in-out 1s forwards;
}

.container-inputGenomes{
    margin: 1rem 0;
}

.pangenome-add-features .session-title,
.container-inputGenomes .session-title{
    font-size: 1.5rem;
	color: var(--grey-05);
	text-shadow: 0px 4px 10px rgba(105, 35, 35, 0.25);
}

.pangenome-add-features .title-help,
.container-inputGenomes .title-help{
    margin-top: 1rem;
}

.input-text2,
.input-codingds-text{
	width: 18vw;
	max-width: 25rem;
	height: 2rem;

	padding-left: 1rem;
	border-radius: 0.3125rem 0px 0px 0.3125rem;
	border: 0.0625rem solid var(--grey-03);
	background: #FFFFFF;
}

.box-group{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 0.5rem;
}


.remove-group{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.add-button {
  margin-top: 0.5rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
}

.pangenome-add-features{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-tecopies input,
.container-threadspangenome input{
	width: 5rem;
	height: 1.5rem;
	font-size: 1rem;
	border-radius: 0.3125rem;
	padding-left: 0.5rem;
	border: 0.0025rem solid var(--grey-03);
}

.container-threadspangenome,
.container-tecopies{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.container-submit-pangenome{
	display: flex;
	align-items: center;
	justify-content: center;
}

.uploadpangenome{
	width: 30rem;
	height: 2.5rem;
	
	border-radius: 2rem;
	background: var(--red-01);
	border: 0.0625rem solid var(--red-01);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	color: var(--white-02);
	font-size: 1.5rem;
	font-weight: 400;

	cursor: pointer;
}

.uploadpangenome:hover {
	opacity: 0.8;
}

.uploadpangenome[disabled] {
	cursor: default;
	opacity: 0.8; 
  }
  
.uploadpangenome[disabled]:hover {
	color: var(--white-02);
	border: 0.0625rem solid var(--green-02);
}
